.login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 48px;
  margin-bottom: 12px;
  color: green;
}

.login-form {
  padding: 20px;
  background-color: gainsboro;
  width: 300px;
  display: block;
  margin: 36px 80px;
  border-radius: 5px;
}

.login-form input {
  font-size: 14px;
  border-style: none;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 4px;
  width: 260px;
  color: #9b9b9b;
}

.submit-btn {
  font-size: 14px;
  background-color: green;
  border-style: none;
  padding: 10px;
  margin: auto;
  border-radius: 4px;
  /* width: 260px; */
  cursor: pointer;
  color: white;
  width: 120px;
  float: left;
  margin-left: 5px;
}
.submit-btn:hover {
  opacity: 0.7;
}
