.global-header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 45px;
  border-bottom: 1px solid gainsboro;
  background-color: white;
  z-index: 80;
}

.global-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 768px;
  height: 100%;
}

.global-header-address {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.global-header-address strong {
  font-size: 16px;
  color: gray;
}

.global-header-address svg {
  position: relative;
  top: -2px;
  width: 16px;
  height: 16px;
  fill: gray;
}

.global-main-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 45px;
  width: 100%;
  min-height: 100vh;
  background-color: gainsboro;
}

.global-main-container {
  width: 100%;
  max-width: 768px;
  background-color: white;
}

.global-footer-wrapper {
  position: fixed;
  left: 0;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  border-top: 1px solid gainsboro;
  background-color: white;
  z-index: 80;
}

.global-footer-container {
  width: 100%;
  max-width: 768px;
}

.global-footer-list {
  display: flex;
  align-items: center;
  height: 100%;
}

.global-footer-list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 100%;
}

.global-footer-list a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 8px;
  width: 100%;
  height: 100%;
}

.global-footer-list svg {
  width: 20px;
  height: 20px;
  fill: gray;
}

.global-footer-list .active svg {
  fill: green;
}

.global-footer-list .active p {
  color: green;
}

.global-footer-list p {
  font-size: 13px;
  color: gray;
}
