.home-introduce {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-bottom: 32px;
  padding: 8px;
}

.home-introduce-title {
  font-size: 36px;
  font-weight: bold;
  color: green;
}

.home-introduce-description {
  font-size: 16px;
  line-height: 1.5em;
}

.home-review {
  padding: 8px;
}

.home-review-titleBox {
  display: flex;
  align-items: center;
  column-gap: 4px;
  margin-bottom: 12px;
  cursor: pointer;
}

.home-review-titleBox h3 {
  font-size: 24px;
  font-weight: normal;
}

.home-review-titleBox svg {
  position: relative;
  top: -1px;
  width: 16px;
  height: 16px;
}

.home-review-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(360px, auto);
  gap: 10px;
  margin-bottom: 62px;
  padding: 0 4px;
}

.home-review-list li {
  border: 1px solid gainsboro;
}