.login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 48px;
  margin-bottom: 12px;
  color: green;
}

.signup-link {
  color: gray;
}

.signup-link:hover {
  color: green;
  transition: color 0.5s;
}

.login-form {
  padding: 20px;
  background-color: gainsboro;
  width: 300px;
  display: block;
  margin: 36px auto auto auto;
  border-radius: 5px;
}

.login-form input {
  font-size: 14px;
  border-style: none;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  width: 260px;
  color: #9b9b9b;
}

.submit-btn {
  font-size: 14px;
  background-color: green;
  border-style: none;
  padding: 10px;
  margin: auto auto 20px auto;
  border-radius: 4px;
  width: 260px;
  cursor: pointer;
  color: white;
}

input:focus {
  outline: none;
}

.submit-btn:hover {
  opacity: 0.7;
}

.links {
  text-align: center;
  word-spacing: 20px;
}

.links a {
  font-size: 12px;
  color: white;
}

.links a:hover {
  color: green;
  transition: color 0.5s;
}
