.login-link {
  color: gray;
}

.login-link:hover {
  color: green;
  transition: color 0.5s;
}

.login-form {
  padding: 20px;
  width: 300px;
  display: block;
  margin: 5px auto auto auto;
  border-radius: 5px;
}

.login-form input {
  font-size: 14px;
  border-style: none;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 4px;
  width: 260px;
  color: #9b9b9b;
  border: 1px solid black;
}

input:focus {
  outline: none;
}

.links {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.links a {
  font-size: 12px;
  color: #9b9b9b;
}

.links a:hover {
  color: green;
  transition: color 0.5s;
}
select {
  padding: 10px;
  background-color: white;
  width: 260px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

body {
  font-family: 'Hahmlet', sans-serif;
}
